#register-page {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: white;
    align-items: center;
    justify-content: center;
}

#register-container {
    height: auto;
    width: 30vw;
    background-color: rgb(71, 74, 240);
    border-radius: 20px;
    padding: 4vw;
}

@media (max-width: 850px) {
    #register-container {
        width: 50vw;
    }
}

@media (max-width: 500px) {
    #register-container {
        width: 60vw;
    }
}

#register-container-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#register-container-img-subtitle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#register-container-img-subtitle img {
    height: 10vw;
    border-radius: 10px;
}

@media (max-width: 850px) {
    #register-container-img-subtitle img {
        height: 15vw;
    }
}

@media (max-width: 500px) {
    #register-container-img-subtitle img {
        height: 20vw;
    }
}

#register-container-img-subtitle h4 {
    color: white;
    font-size: 1vw;
}

@media (max-width: 850px) {
    #register-container-img-subtitle h4 {
        font-size: 1vw;
    }
}

#register-container-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#register-container-center h1 {
    font-size: 20px;
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}

#register-container-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

#register-container-label-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2px;
}

#register-container-label-field label {
    font-size: 10px;
    color: white;
    font-weight: bold;
}

#register-container-label-field input {
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    height: 2vw;
    width: 100%;
}

@media (max-width: 850px) {
    #register-container-label-field input {
        height: auto;
    }
}

#register-container-bottom {
    display: flex;
    width: 100%;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 5px;
}

#register-container-bottom button {
    height: fit-content;
    width: fit-content;
    margin: 5px 0 0 0;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(51, 53, 170);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1vw;
}

#register-container-bottom button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#register-container-bottom a {
    margin-top: 5px;
    font-size: 1vw;
    color: white;
    cursor: pointer;
    background-color: transparent;
}

#register-container-bottom a:hover {
    text-decoration: underline;
}
